extends index

block content	
  .col-lg-12
    .card.card-outline.card-primary
      .card-header
        p Switch Selection
      .card-body
        each sw in switches
          a.btn.btn-secondary(href=`${sw}`)= `switch ${sw}`
    .row 
      .col-6
        .card.card-outline.card-success
          .card-header
            p 
              strong  Flow summary
          .card-body
            table.table.table-hover.table-bordered.list
              thead
                tr
                  th packet count
                  th flow count
                  th byte count
              tbody
                each flows in summary
                  each flow in flows
                    tr
                      td.text-center
                        b= flow.packet_count
                      td.text-center
                        b= flow.byte_count
                      td.text-center
                        b= flow.flow_count
    .card.card-outline.card-success
      .card-header
        p  Flow tabel
      .card-body
        table.table.table-hover.table-bordered#list
          thead
            tr
              th Priority
              th Match Fields
              th Cookie
              th Duration
              th Idle Timeout
              th Hard Timeout
              th Instructions
              th Packet Count
              th Byte Count
              th Flags
          tbody
            each flows in flowss
              each flow in flows
                tr
                  td.text-center
                    b= flow.priority
                  td.text-center
                    b= flow.match
                  td.text-center
                    b= flow.cookie
                  td.text-center
                    b= flow.duration_sec
                  td.text-center
                    b= flow.idle_timeout
                  td.text-center
                    b= flow.hard_timeout
                  td.text-center
                    b= flow.actions
                  td.text-center
                    b= flow.packet_count
                  td.text-center
                    b= flow.byte_count
                  td.text-center
                    b= flow.flags
             
    .card.card-outline.card-success
      .card-header
        p  Port Desc
      .card-body
        table.table.table-hover.table-bordered#list1
          thead
            tr
              th supported
              th state
              th port no
              th peer
              th name
              th max speed
              th hw addr
              th curr speed
              th curr
              th config
              th advertised
          tbody
            each ports in data
              each port in ports
                tr
                  td.text-center
                    b= port.supported
                  td.text-center
                    b= port.state
                  td.text-center
                    b= port.port_no
                  td.text-center
                    b= port.peer
                  td.text-center
                    b= port.name
                  td.text-center
                    b= port.max_speed
                  td.text-center
                    b= port.hw_addr
                  td.text-center
                    b= port.curr_speed
                  td.text-center
                    b= port.curr
                  td.text-center
                    b= port.config
                  td.text-center
                    b= port.advertised
                  
                    
  script.
    $(document).ready(function(){
      $('#list').dataTable()
    })

    function fetchDataAndUpdate() {
        // Gọi API để lấy dữ liệu mới
        fetch('http://127.0.0.1:8080/status?status=flows&dpid=1')
            .then(response => response.json())
            .then(data => {
                // Xóa dữ liệu cũ trong bảng
                const tableBody = document.querySelector('#list tbody');
                tableBody.innerHTML = '';

                // Lặp qua các thuộc tính của đối tượng data và cập nhật vào bảng
                for (let keys in data) {
                    for (let key in data[`${keys}`]) {
                      
                          const flow = data[`${keys}`][`${key}`];
                          const row = document.createElement('tr');
                          const matchString = JSON.stringify(flow.match);
                          row.innerHTML = `
                              <td class="text-center">${flow.priority}</td>
                              <td class="text-center">${matchString}</td>
                              <td class="text-center">${flow.cookie}</td>
                              <td class="text-center">${flow.duration_sec}</td>
                              <td class="text-center">${flow.idle_timeout}</td>
                              <td class="text-center">${flow.hard_timeout}</td>
                              <td class="text-center">${flow.actions}</td>
                              <td class="text-center">${flow.packet_count}</td>
                              <td class="text-center">${flow.byte_count}</td>
                              <td class="text-center">${flow.flags}</td>
                          `;
                          tableBody.appendChild(row);
                      }
                }
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }

    setInterval(fetchDataAndUpdate, 5000);

