extends index

block content
  .col-12
    .card
      .card-body
        | Rules

  .card-body
    table.table.table-hover.table-condensed#list
      colgroup
        col(width="25%")
        col(width="25%")
        col(width="10%")
        col(width="10%")
        col(width="10%")
        col(width="10%")
        col(width="10%")

      thead
        tr
          th.text-center Source IP
          th.text-center Destination IP
          th.text-center Protocol   
          th.text-center Source Port  
          th.text-center Destination Port  
          th.text-center State 
          th.text-center Action        
      tbody
        each rule in row
          tr
            td
              p
                b= rule.src_ip
            
            td.text-center
              b= rule.dst_ip
            td.text-center
              b= rule.protocol
            td.text-center
              b= rule.src_port
            td.text-center
              b= rule.dst_port
            td.text-center
              b= rule.state
            td.text-center
              b= rule.action  
          //include edit_notify

  style.
    table p {
      margin: unset !important;
    }
    table td {
      vertical-align: middle !important;
    }

  script.
      $(document).ready(function(){
        $('#list').dataTable();
      });
